header {
	width: 100%;
	height: 7vh;

	position: fixed;
	top: 0px;

	/* margin-bottom: 2rem; */
	background: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;

	/* border-bottom: 1px solid #f4f4f4; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.logo {
	height: 100%;
	padding: 0.25rem;
}

#logo-image {
	height: 100%;
}

nav {
	flex-grow: 1;
	justify-self: flex-end;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: stretch;
	/* background:red; */
}

nav ul {
	display: flex;
	/* background:yellow; */
}

nav ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
	padding: 0 0.5rem;
	cursor: pointer;
	font-size: 1.2rem;
	color: #444;
	border: solid;
	border-width: 4px 0 4px 0;
	border-color: transparent;
}

nav li:hover {
	color: gold;
}

nav li.selected {
	background: #fff;
	color: purple;
	border-bottom-color: currentColor;
}

main {
	width: 100%;
	min-height: 80vh;
	padding-top: 10vh;
}

aside {
	width: 150px;
	margin: 3rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 4px solid #888;
}

aside ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.1rem;
}

aside li {
	margin-top: 0.5rem;
	padding: 0.5rem 1.5rem;
	cursor: pointer;
	border: 1px solid;
	border-radius: 5px;
}

aside li:hover {
	color: #444;
	background: #eee;
	border-color: #eee;
}

aside li.selected {
	color: #fff;
	background: #444;
	border-color: #444;
}
footer {
	width: 100%;
	height: 5vh;
	background: #ccc;
}

.home {
	width: 100%;
}

.hero {
	width: 100%;
	height: 80 vh;
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-template-rows: repeat(3, 33%);
	/* background:#002f3c; */

	/* background-image: linear-gradient(90deg, #ffff0036 0%, #ffffff 100%); */
}

.hero-text {
	grid-row: 1/-1;
	grid-column: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-image {
	grid-row: 1/-1;
	grid-column: 2/-1;
	display: grid;
	place-items: center;
}

.hero-image img {
	width: 100%;
	height: auto;
	object-fit: cover;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) */
	border-radius: 0 0 0px 50px;
}

.hero h1 {
	font-size: 5rem;
	color: #444;
	text-align: center;
}

.hero p {
	margin: 2rem 0;
	width: 80%;
	font-size: 2rem;
	color: #5e5d5d;
	text-align: center;
}

.mission-container {
	display: grid;
	grid-template-columns: 50% 50%;
}
.vision-container {
	display: grid;
	grid-template-columns: 50% 50%;
}

.mission-container div,
.vision-container div {
	padding: 1rem;
}

.mission h1,
.vision h1 {
	font-size: 5rem;
	color: #4d81f7;
}

.mission p,
.vision p {
	color: #444;
	font-size: 1.5rem;
	line-height: 150%;
	text-align: justify;
}

.mission-text,
.vision-text {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}
